# ===============================
# Data / Media files
# ===============================
*.mp4
*.jpg
*.jpeg
*.png
*.h5

# ===============================
# Dataset / Logs
# ===============================
track_dataset/
annotated_dataset/
dataset/
data/

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc

# ===============================
# OS / Editor
# ===============================
.DS_Store
.vscode/
.idea/